.card {
  transition-duration: 0.3s;
  height: 200px;
  width: 200px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 75px;
  border: 2px solid rgba(255, 255, 255, 0.01);
  cursor: pointer;
}

.card:hover {
  transition-duration:  0.1s;
  background: rgb(255, 255, 255);
  border: 2px solid white;
}

img {
 width: 100%;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: rgb(255, 35, 35);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

@media only screen and (max-width: 857px) {
  .card {
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 657px) {
  .card {
    width: 125px;
    height: 125px;
  }
}

@media only screen and (max-width: 439px) {
  .card {
    width: 100px;
    height: 100px;
  }
}

@media only screen and (max-width: 349px) {
  .card {
    width: 75px;
    height: 75px;
  }
}
